* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #20232A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 850px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: none;
}

.titulo {
    text-align: center;
    font-size: 40px;
}

.paragrafo {
    font-size: 20px;
    text-align: justify;
}

img {
    width: 700px;
    height: 500px;
}