@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {
    min-height: 5vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 50px;
    border-bottom: 1px solid black;
}

button {
    min-height: 45px;
    max-width: 120px;
    width: 100%;
}

.container {
    min-height: 80vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}