@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background: #0D1117;
}

header {
    min-height: 5vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.header-div {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 30px;
    gap: 15px;
    text-align: center;
}

.header-div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 720px) {
    .header-div {
        justify-content: space-around;
    }
}

button {
    min-height: 45px;
    width: 120px;
    font-size: 13px;
    color: whitesmoke;
    background: #30363D;
    border: 1px solid rgba(255, 255, 255, 0.063);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.300);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: rgb(39, 44, 54);
}

button:active {
    transform: scale(1.1);
    transition: 0.3ms;
}

.container {
    min-height: 80vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.text {
    color: white;
}