@media screen and (min-width: 1440px) {
    
    body {
        background: rgb(252, 252, 168);
    }
    
    .div1 {
        display: none;
    }

    .div2 {
        display: none;
       }
    
    .div3 {
        display: none;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    
    body {
        background: rgb(245, 159, 159);
    }

   .div2 {
    display: none;
   }

   .div3 {
    display: none;
   }

   .div4 {
    display: none;
   }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    body {
        background: rgb(146, 146, 222);
    }

    .div1 {
     display: none;
    }
 
    .div3 {
     display: none;
    }

    .div4 {
        display: none;
       }
     
}

@media screen and (max-width: 767px) {
    
    body {
        background: rgb(134, 216, 134);
    }

    .div1 {
     display: none;
    }
 
    .div2{
     display: none;
    }

    .div4 {
        display: none;
       }
     
}