@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 55px;
    font-family: 'Righteous', cursive;
    transition: 1.5s all;
    cursor: pointer;
    user-select: none;
}

h1:active {
    transform: scale(1.8);
    transition: 50ms;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    border-top: 0.1px solid rgb(0, 0, 0);
}

.footer-text {
    font-size: 20px;
    font-family: 'Righteous', cursive;
    transition: 1s all;
}

.footer-text p{
    color: rgb(0, 0, 0);
}

.footer-text p:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s all;
}